---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Profile from '../components/Profile.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import data from './data.json';
---
<Layout title="Pagina de Raul Ibañez.">
    <main>
        <Header name={data.name} profession={data.profession} />
        <Profile profile={data.profile} />
        <Experience experience={data.experience} />
        <Skills skills={data.skills} />
        <Contact email={data.email} phone={data.phone} />
    </main>   
</Layout>
