<!-- components/Badges.astro -->
---
const {badges}= Astro.props;
---

<section>
    <h2>Insignias Digitales</h2>
        <ul class="Bdg-lay">{badges.map((bdg) => (
            <li class="box">
                <a href={bdg.url}><img src={bdg.img}></a>
                <p>{bdg.title}</p>
                <p><i>Issuer: {bdg.issuer}</i></p>
            </li>
            ))}
        </ul>    
</section>
<style>
    .Bdg-lay {
        padding-left: 0;
        margin-left: 0;        
        display: flex;
        flex-wrap: wrap;

    }

    .box {
        margin: 10px;
        list-style:none;
        width: 130px;
        height: auto;
        text-align: center;
        border: 1px solid lightgray;     
    }

    p {
        font-family: sans-serif;
    }
    
    img {
        padding-top: 20px;
        width: 120px;
        height: 120px;
    }
</style>