<!-- components/Experience.astro -->
---
const {experience}= Astro.props;
---

<section>
  <h2>Experiencia Laboral</h2>
  <ul> {experience.map((exp) => (
    <li><strong>{exp.company}</strong> - {exp.role} ({exp.years})        
      <br>
      {exp.description}</li>
      <br>      
    ))}    
  </ul>
</section>

